<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.pangtrue.erp.mappers.article.ArticleMapper">
    <insert id="create">
        INSERT INTO article (article_no, title, content, writer, file_cnt) 
        VALUES (#{articleNo}, #{title}, #{content}, #{writer}, #{filecnt})
    </insert>
    
    <select id="read" resultMap="ArticleResultMap">
        SELECT article_no, title, content, writer, reg_date, view_cnt, file_cnt 
        FROM article
        WHERE article_no = #{articleNo}
    </select>
    
    <update id="update">
        UPDATE article
        SET title = #{title}, content = #{content}, file_cnt = #{fileCnt}
        WHERE article_no = #{articleNo}
    </update>
    
    <delete id="delete">
        DELETE FROM article
        WHERE article_no = #{articleNo}
    </delete>
</mapper>